
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size:70px;
}
p{
    color:rgb(46, 3, 87);
    font-size: 26px;
}
.color-name{
    color:orange;
}
.section1{
    display:flex;
    padding-top:40px;
    background-image: url(../images/first-cover.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.logo{
    width:50%;
    margin-bottom: 50px;
}
.hero1{
    margin-left: 50px;
}
.hero2 img{
    width:70%;
}
.hero2{
    margin-left:140px
}
.click-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 25px;
    color: #fff;
    border-radius:10px;
    font-size:25px;
}
/*hero section end*/

/*middle section*/
.section2{
    display:flex;
    padding-top:60px;
    background-image:url(../images/middle-cover.jpg);
    background-size: cover;
    width: 100%;
}
.middle-pic img{
    width:50%;
}
.middle-pic{
    margin-left:180px;
}
.recipies{
    text-align:center;

}
.menu-area{
    display: flex;
   margin-top: 80px;
   margin:80px 80px;

}
.menu-area .pic{
    width:300px;
    margin-top:20px;

}
.box-shadow{
    box-shadow: 10px 10px 50px gray;
    margin:20px 30px;
    border-radius: 10px;
}
.box-shadow p{
    text-align: justify;
    padding:3px;

}
.box-shadow h1{
    font-size:28px;
}
.follower{
  border-radius: 30px;
  margin: 5px 10px;
  padding:20px 20px;
  display:flex;
  box-shadow: 5px 8px 20px gray;
}
.f-count{
    margin-left: 230px;
    font-size: 20px;
}
.Tweeter{
    color:rgb(255, 20, 32);
}


/*foter section*/
.footer-bar{
    text-align: center;
    font-size:22px;
    background-color:rgb(53, 48, 48);
    Color:white;
    margin-top:50px;
    padding-top:30px;


}
.footer-bar p{
    font-size:20px;
    color:darkgray;
    padding-bottom: 20px;
}